<ion-view view-title="Discover" class="discover-page">
  <ion-content scroll="false">

  <td-cards>
    <td-card ng-repeat="song in queue" on-swipe-left="sendFeedback(false, $index)" on-swipe-right="sendFeedback(true, $index)" class="list card current-song"
      ng-class="{skipped: song.rated == false,
                favorited: song.rated == true}"
      ng-show="song && !song.hide">

      <div class="item item-image">
        <img ng-src="{{ song.image_large }}">
      </div>

      <div class="item">
        <h2>{{song.title}}<span ng-hide="song.loaded"><i class="ion-loadin-c"></i></span></h2>
        <p>{{song.artist}}</p>
      </div>

      <div class="item tabs tabs-secondary tabs-icon-left">
        <a class="tab-item" ng-click="sendFeedback(false)">
          <i class="icon ion-close"></i>
          Skip
        </a>
        <a class="tab-item" ng-click="sendFeedback(true)">
          <i class="icon ion-heart"></i>
          Favorite
        </a>
      </div>

    </td-card>
  <td-cards>
<!--     <div class="img-lookahead">
      <img ng-src="{{ nextAlbumImg() }}" />
    </div> -->


  </ion-content>
</ion-view>
